@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;500;700&family=Roboto:wght@400;500&family=Sen:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button,
i {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

input,
textarea {
  outline: none;
  border: none;
}

#navbar.navbar-shrink {
  padding: 10px 0px;
  -webkit-box-shadow: 0px 0px 15px 10px #000;
          box-shadow: 0px 0px 15px 10px #000;
}

#navbar-responsive {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -100%;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 10000;
}

#navbar-close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 30px;
  border: none;
  background: transparent;
  z-index: 9999;
}

.close {
  font-size: 40px;
  color: #1c1d28;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.open {
  display: none;
}
@media (max-width: 900px) {
  .open {
    display: block;
    color: #ffffff;
    font-size: 30px;
  }
}

#mode__btn {
  cursor: pointer;
}

.res-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.res-nav__link {
  color: #1c1d28;
  font-weight: 600;
  font-size: 40px;
}

#loading {
  position: fixed;
  background-color: #000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 100;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#loading.loading-none {
  width: 100%;
  opacity: 0;
  z-index: -1;
}

#backtop {
  position: fixed;
  right: 20px;
  bottom: -60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  font-size: 50px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 10;
}

#backtop .top-img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

#backtop.backtop-show {
  bottom: 80px;
}

.container-366, .container-238, .container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.container {
  max-width: 1320px;
}

.container-238 {
  max-width: 1064px;
}

.container-366 {
  max-width: 808px;
}

.subscribe, .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__info, .nav__info, .nav__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__header h2, .about h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -0.48px;
  text-transform: uppercase;
}

.about h4, .footer__max {
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: -0.32px;
  text-transform: uppercase;
}

.home__header h6 {
  font-size: 16px;
  font-weight: 700;
  line-height: normalpx;
  letter-spacing: 0px;
  text-transform: uppercase;
}

.footer__link {
  font-size: 12px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
}

.nav {
  width: 100%;
  position: fixed;
  top: 0;
  background: #0D0D0D;
  padding: 26px 0px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 1;
}
.nav__left {
  gap: 66px;
}
.nav__list {
  gap: 48px;
}
@media (max-width: 900px) {
  .nav__list {
    display: none;
  }
}
.nav__link {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Roboto";
}
.nav__btn {
  display: inline-block;
  padding: 20px 48px;
  border-radius: 12px 12px 12px 12px;
  border: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  background-color: #ffd2a4;
  color: #1c1d28;
}
.nav__btn:hover {
  background-color: #f2c79b;
}
@media (max-width: 900px) {
  .nav__btn {
    display: none;
  }
}

.footer {
  padding: 64px 0px 72px;
  background: #0D0D0D;
}
@media (max-width: 1100px) {
  .footer__info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 50px;
  }
}
.footer__img {
  max-width: 140px;
  margin-bottom: 28px;
}
.footer__text {
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Roboto Condensed";
  margin-bottom: 32px;
}
.footer__addres {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Roboto Condensed";
  gap: 16px;
}
.footer__link {
  font-family: "Roboto Condensed";
}
.footer__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 72px;
}
.footer__card, .footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}
.footer__title {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-family: "Roboto";
}
.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.footer__max {
  max-width: 437px;
  color: #ffffff;
  margin-bottom: 32px;
  font-family: "Roboto Condensed";
}
@media (max-width: 500px) {
  .footer__max {
    text-align: center;
  }
}
.footer__input {
  border-radius: 12px 0px 0px 12px;
  border: 2px solid rgba(255, 255, 255, 0.1490196078);
  padding: 22.5px;
  background-color: transparent;
  width: 312px;
  color: #ffffff;
}
@media (max-width: 560px) {
  .footer__input {
    width: 100%;
    border-radius: 12px;
  }
}
.footer__btn {
  display: inline-block;
  padding: 24px 64px;
  border-radius: 0px 12px 12px 0px;
  border: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  background-color: #ffd2a4;
  color: #1c1d28;
}
.footer__btn:hover {
  background-color: #f2c79b;
}
@media (max-width: 560px) {
  .footer__btn {
    width: 100%;
    border-radius: 12px;
  }
}

@media (max-width: 430px) {
  .subscribe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
}

.facebook {
  color: white;
  font-size: 20px;
}

.twitter {
  color: white;
  font-size: 20px;
}

.in {
  background-color: white;
  color: #1c1d28;
  padding: 2px;
  border-radius: 4px;
}

#home {
  background-color: #F5F2F0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.dark #home {
  background-color: black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.dark #home * {
  color: white;
}

.dark #navbar {
  background-color: black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.dark .footer {
  background-color: black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.dark #navbar.navbar-shrink {
  -webkit-box-shadow: 0 0 8px 5px white;
          box-shadow: 0 0 8px 5px white;
}

.home {
  padding: 230px 0 64px;
  text-align: center;
}
@media (max-width: 400px) {
  .home {
    padding-top: 150px;
  }
}
.home img {
  width: 100%;
}
.home__header h6 {
  margin-bottom: 16px;
  background: var(--Gradient, linear-gradient(110deg, #A54E2B -53.83%, #DC9853 62.61%));
  background-clip: text;
  font-family: "Roboto Condensed";
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home__header h2 {
  margin-bottom: 16px;
  font-family: "Roboto Condensed";
  color: #161722;
}
.home__paragraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 13px;
  margin-bottom: 64px;
}
.home__paragraph p {
  color: var(--Black, #161722);
  font-family: Roboto Condensed;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

#about {
  background-color: #F5F2F0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.dark #about {
  background-color: black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.dark #about * {
  color: white;
}

.about {
  padding-bottom: 128px;
}
.about img {
  width: 100%;
}
.about h2 {
  margin-bottom: 24px;
  font-family: "Roboto Condensed";
}
.about p {
  color: var(--Black, #161722);
  font-family: Roboto Condensed;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
.about__p1 {
  margin-bottom: 24px;
}
.about__p2 {
  margin-bottom: 48px;
}
.about img {
  margin-bottom: 48px;
}
.about h4 {
  margin-bottom: 24px;
  font-family: "Roboto Condensed";
}
.about__p3 {
  margin-bottom: 30px;
}
.about__p5 {
  margin-bottom: 40px;
}
.about__p6 {
  margin-bottom: 32px;
}
.about ul {
  margin-bottom: 32px;
}
.about ul li {
  margin-bottom: 8px;
  list-style-type: disc;
  margin-left: 20px;
  color: var(--Black, #161722);
  font-family: Roboto Condensed;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
.about__p7 {
  margin-bottom: 24px;
}

.box-p4 {
  padding-left: 24px;
  max-width: 740px;
  border-left: 4px solid #DC9853;
}
.box-p4 p {
  font-size: 24px;
  line-height: 150%;
  margin-bottom: 30px;
}