@use "../utils/variables" as var;
@use "../utils/mixins" as mxn;
@use "../utils/helpers";

.footer {
  padding: 64px 0px 72px;
  background: #0D0D0D;
  &__info {
    @extend %flex-between-center;
    @media (max-width: 1100px) {
      & {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 50px;
      }
    }
  }
  &__img {
    max-width: 140px;
    margin-bottom: 28px;
  }
  &__text {
    color: var.$white-color;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Roboto Condensed';
    margin-bottom: 32px;
  }
  &__addres {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Condensed';
    gap: 16px;
  }
  &__link {
    @extend %link;
    font-family: 'Roboto Condensed';
  }
  &__center {
    display: flex;
    gap: 72px;
  }
  &__card,
  &__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  &__title {
    color: var.$white-color;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-family: 'Roboto';
  }
  &__icons {
    display: flex;
    gap: 20px;
  }
  &__max {
    @extend %title-4;
    max-width: 437px;
    color: var.$white-color;
    margin-bottom: 32px;
    font-family: 'Roboto Condensed';
    @media (max-width: 500px) {
        &{
            text-align: center;
        }
    }
  }
  &__input {
    border-radius: 12px 0px 0px 12px;
    border: 2px solid #ffffff26;
    padding: 22.5px;
    background-color: transparent;
    width: 312px;
    color: var.$white-color;
    @media (max-width: 560px) {
      & {
        width: 100%;
        border-radius: 12px;
      }
    }
  }
  &__btn {
    @include mxn.btn(
      $padding: 24px 64px,
      $bg-color: var.$primary-color,
      $color: var.$black-color,
      $radius: 0px 12px 12px 0px
    );
    @media (max-width: 560px) {
      & {
        width: 100%;
        border-radius: 12px
      }
    }
  }
}
.subscribe {
  @extend %flex-center;
  @media (max-width: 430px) {
    &{
        flex-direction: column;
        gap: 30px;
    }
  }
}
.facebook {
  color: white;
  font-size: 20px;
}
.twitter {
  color: white;
  font-size: 20px;
}
.in {
  background-color: white;
  color: var.$black-color;
  padding: 2px;
  border-radius: 4px;
}
