@use "../utils/variables" as var;
@use "../utils/mixins" as mxn;
@use "../utils/helpers";

.nav {
  width: 100%;
  position: fixed;
  top: 0;
  background: #0D0D0D;
  padding: 26px 0px;
  transition: all 0.5s;
  z-index: 1;
  &__info {
    @extend %flex-between-center;
  }
  &__left {
    @extend %flex-between-center;
    gap: 66px;
  }
  &__list {
    @extend %flex-center;
    gap: 48px;
    @media(max-width: 900px){
        &{
            display: none;
        }
    }
  }
  &__link {
    color: var.$white-color;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Roboto',
  }
  &__btn {
    @include mxn.btn(20px 48px);
    @media(max-width: 900px){
        display: none;
    }
  }
}
