<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Church footer</title>
  </head>
  <body>
    <footer class="footer">
      <div class="container">
        <div class="footer__info">
          <div class="footer__left">
            <img
              src="./asset/images/primary-logo.png"
              alt="footer__img"
              class="footer__img"
            />
            <p class="footer__text">© Copyright Finsweet 2022</p>
            <div class="footer__addres">
              <a href="tel:+998887041980" class="footer__link">(88) 704-1980</a>
              <a href="adress" class="footer__link">4517 Washington Ave. </a>
              <a href="email" class="footer__link">finsweet@example.com</a>
            </div>
          </div>
          <div class="footer__center">
            <div class="footer__card">
              <h2 class="footer__title">Quicklinks</h2>
              <ul class="footer__list">
                <li class="footer__item">
                  <a href="./pages/about.html" class="footer__link">About us</a>
                </li>
                <li class="footer__item">
                  <a href="./pages/sermons.html" class="footer__link"
                    >Sermons</a
                  >
                </li>
                <li class="footer__item">
                  <a href="./pages/blogs.html" class="footer__link">Events</a>
                </li>
                <li class="footer__item">
                  <a href="./pages/blog.html" class="footer__link">Blog</a>
                </li>
              </ul>
            </div>
            <div class="footer__card">
              <h2 class="footer__title">Connect</h2>
              <div class="footer__icons">
                <i class="fa-brands fa-facebook facebook"></i>
                <i class="fa-brands fa-twitter twitter"></i>
                <i class="fa-brands fa-linkedin-in in"></i>
              </div>
            </div>
          </div>
          <div class="footer__right">
            <h2 class="footer__max">
              Subscribe to get Latest Updates and News
            </h2>
            <div class="subscribe">
              <input
                type="text"
                placeholder="Yourmail@gmail.com"
                class="footer__input"
              />
              <button class="footer__btn">Subscribe</button>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
