@use "../components/blog-card";
@use "../utils/mixins" as mxn;
@use "../utils/variables" as var;
@use "../global";
#blogs {
  background-color: #f5f2f0;
}

p {
  @extend %blog__p;
}

.our__blog {
  padding: 128px 0;

  &__header {
    @include mxn.header;
  }
}

.our__blog {
  &__header {
    @include mxn.header(32) {
      h2 {
        max-width: 550px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

.our__blog__introduce {
  padding: 56px;
  background-color: #fff;
  box-shadow: 0px 0px 10px 3px rgb(144, 115, 115);
}

.our__blog__introduce img {
  margin: 0 48px 48px 0;
  width: 100%;
}

.our__blog__right h4 {
  @extend %title-4;
  margin-bottom: 16px;
}

.blog__readmore {
  @include mxn.btn;
}

.our__blog__label {
  display: flex;
  justify-content: space-between;
}

.our__blog__right p {
  margin-bottom: 32px;
}

.our__blog__label2 {
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.all__blogs__header {
  display: flex;
  justify-content: center;
  h2 {
    @extend %title-2;
    margin-bottom: 64px;
  }
}

@media (min-width: 1000px) {
  .our__blog__introduce {
    display: flex;
    gap: 48px;
  }
}
.share {
  padding-top: 128px;
  &__box {
    @extend %flex-between-center;
    @media (max-width: 1300px) {
        &{
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 30px;
        }
    }
  }
  &__card {
    max-width: 302px;
    padding: 48px 32px;
    background: #fff5eb;
    border-bottom: 16px solid transparent;
    transition: all 500ms;
  }
  &__card:hover {
    border-bottom: 16px solid #ffd0a0;
  }
  &__h3 {
    font-family: Roboto Condensed;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.96px;
    text-transform: uppercase;
    margin-bottom: 16px;
    color: #dc9853;
  }
  &__title {
    max-width: 218px;
    color: var.$black-color;
    font-family: Roboto Condensed;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.24px;
    text-transform: uppercase;
    margin-bottom: 16px;
  }
  &__text {
    color: var.$black-color;
    font-family: Roboto Condensed;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 48px;
  }
  &__h4 {
    color: var.$black-color;
    font-family: Roboto Condensed;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 4px;
  }
}