$primary-font: "Roboto Condensed", sans-serif;
$secondary-font: "Roboto", sans-serif;
$tertiary-font: "Sen", sans-serif;

$primary-color: #ffd2a4;
$black-color: #1c1d28;
$white-color: #ffffff;

$mobilePadding: 20;
